.header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: #1b1f23;
        padding: 10px 50px;
}

.header img {
        height: 50px;
}

.header nav a {
        margin: 0 20px;
        font-size: 18px;
}

.header nav a:hover {
        color: #21a1f1;
}